<section class="contacts" id="contacts">
  <div class="contacts__container container">
    <aside class="contacts__heading section-decor">
      <h2 class="contacts__heading-title text-uppercase text-white">контакты</h2>

      <div class="contacts__heading-text section-subtitle text-uppercase fw-bold text-white">
        Помогаем отельерам экономить время и&nbsp;деньги
        <br>
        Готовы начать? Связаться
      </div>
    </aside>

    <aside class="contacts__connection">
      <a href="tel:+79199703645" class="contacts__connection-phone fw-bold text-white" rel="nofollow">
        7 (919) 970-36-45
      </a>
      <a href="mailto:info@homs.top" class="contacts__connection-email text-white" rel="nofollow">
        info@homs.top
      </a>
    </aside>

    <aside class="contacts__communication">
      <a class="contacts__communication-box" href="#" rel="noopener nofollow" target="_blank">
        <svg class="contacts__communication-icon">
          <use href="/assets/img/icons.svg#youtube"></use>
        </svg>
      </a>

      <a class="contacts__communication-box" href="#" rel="noopener nofollow" target="_blank">
        <svg class="contacts__communication-icon">
          <use href="/assets/img/icons.svg#telegram"></use>
        </svg>
      </a>

      <a class="contacts__communication-box" href="#" rel="noopener nofollow" target="_blank">
        <svg class="contacts__communication-icon">
          <use href="/assets/img/icons.svg#dzen"></use>
        </svg>
      </a>
    </aside>
  </div>
</section>
