<header class="header" id="header">
  <div class="container">
    {% if isMainPage %}
      <div class="header__container">
        <div class="header__content">
          <h1 class="header__title text-uppercase text-white">
            hotel operational
            management
            software
          </h1>

          <div class="header__subtitle fw-bold text-primary text-uppercase">
            Порядок в финансах отеля = Прибыль + Рост
          </div>

          <div class="header__content-text">
            <div class="header__content-gap">
              Избавим от&nbsp;вороха таблиц Excel, внедрим систему и&nbsp;структуру
            </div>
            Управляй не&nbsp;только выручкой, но и&nbsp;прибылью отеля вместе с&nbsp;HOMS
          </div>

          <div class="header__content-area">
            <button
              class="header__content-btn js-order-form btn btn-primary text-uppercase fw-bold"
              data-target-modal="order-form"
            >
              получить консультацию
            </button>
          </div>
        </div>

        <div class="header__advantages">
          <aside class="header__advantages-box">
            <div class="header__advantages-title text-primary text-uppercase fw-extra-bold">20 лет</div>
            <div class="header__advantages-text">
              Наша команда <strong>более 20&nbsp;лет</strong> занимается управлением финансами
              в&nbsp;индустрии гостеприимства
            </div>
            <svg class="header__advantages-decor">
              <use href="/assets/img/icons.svg#triangle"></use>
            </svg>
          </aside>

          <aside class="header__advantages-box">
            <div class="header__advantages-title text-primary text-uppercase fw-extra-bold">ТОП 3</div>
            <div class="header__advantages-text">
              Мы&nbsp;имеем опыт работы
              в&nbsp;глобальных консалтинговых компаниях, входящих в&nbsp;<strong>ТОП-3</strong> консультантов мира
            </div>
            <svg class="header__advantages-decor">
              <use href="/assets/img/icons.svg#triangle"></use>
            </svg>
          </aside>

          <aside class="header__advantages-box">
            <div class="header__advantages-title text-primary text-uppercase fw-extra-bold">специалисты</div>
            <div class="header__advantages-text">
              Наши <strong>специалисты</strong> прошли обучение в&nbsp;Real Estate Investments and Asset
              Managment, а&nbsp;также имеют квалификацию ACCA DiplFR,CIMA Adv Dip MA, Financial Strategy
            </div>
            <svg class="header__advantages-decor">
              <use href="/assets/img/icons.svg#triangle"></use>
            </svg>
          </aside>
        </div>
      </div>
    {% else %}
      <div class="header__page">
        <h1 class="header__page-title text-uppercase text-white">{{ title }}</h1>

        <!-- Begin: breadcrumbs -->
        {% block breadcrumbs %}
          {% include 'breadcrumbs.twig' %}
        {% endblock %}
        <!-- End: breadcrumbs -->
      </div>
    {% endif %}
  </div>
</header>
