{% extends 'layout.twig' %}

{% block content %}
  <div class="base">
    {% include '../components/base/base__nav.twig' %}

    <section class="base__content">
      {% include '../components/base/base__search.twig' %}

      <div class="base__result">
        {% if resultList|length > 0 %}
          {% for instance in resultList %}
            {% if instance.video %}
              <a
                class="base__result-item js-base__result-item fw-bold text-black"
                href="#"
                data-fancybox
                data-src="{{ instance.video }}"
              >{{ instance.text }}</a>
            {% else %}
              <a
                class="base__result-item js-base__result-item fw-bold text-black"
                href="/article.html"
              >{{ instance.text }}</a>
            {% endif %}
          {% endfor %}
        {% else %}
          <div class="base__result-item">Результатов не найдено</div>
        {% endif %}
      </div>
    </section>
  </div>
{% endblock %}
