{% extends 'layout.twig' %}
{% block content %}
  <div class="base">
    <div class="base__wrap">
      {% include '../components/base/base__nav.twig' %}

      <section class="base__content">
        {% include '../components/base/base__search.twig' %}

        <div class="base__result">
          {% if resultList|length > 0 %}
            {% for instance in resultList %}
              <a class="base__result-item js-base__result-item fw-bold text-black" href="#">{{ instance.text }}</a>
            {% endfor %}
            {% else %}
              <div class="base__result-item fw-bold text-primary">Результатов не найдено</div>
          {% endif %}
        </div>
      </section>
    </div>
  </div>
{% endblock %}
