<nav class="navbar">
  <div class="navbar__container container">
    <a href="/" class="navbar__logo">
      <img src="/assets/img/logo/logo.svg" alt="">
    </a>

    <div class="navbar__panel js-navbar__panel">
      <div class="navbar__panel-title text-uppercase font-family-tinos fw-bold text-decor">Меню</div>

      <ul class="navbar__menu text-uppercase list-unstyled">
        <li class="navbar__menu-item">
          <a href="#" class="navbar__menu-link">О HOMS</a>
        </li>
        <li class="navbar__menu-item">
          <a href="#" class="navbar__menu-link">УСЛУГИ </a>
        </li>
        <li class="navbar__menu-item">
          <a href="#" class="navbar__menu-link">БАЗА ЗНАНИЙ </a>
        </li>
        <li class="navbar__menu-item">
          <a href="#" class="navbar__menu-link">КОНТАКТЫ</a>
        </li>
      </ul>

      <a href="#" class="navbar__btn btn btn-primary text-uppercase fw-bold">ЛИЧНЫЙ КАБИНЕТ</a>

      <div class="navbar__close js-navbar__close"></div>
    </div>

    <div class="navbar__open js-navbar__open"></div>
  </div>
</nav>
