{% extends 'template/layout.twig' %}

{% set metaTitle = 'International Business Communication Standards или как добиться последовательности в управленческой отчетности' %}
{% set title = 'International Business Communication Standards или как добиться последовательности в управленческой отчетности' %}

{% set breadcrumbs = [
  {'name': 'База знаний', url: 'knowledge-base.html'},
  {'name': 'Статьи', url: 'knowledge-base-articles.html'},
  {'name': title},
] %}

{% block content %}
  <section class="services">
    <article class="services__article">

        <p>Недавно на сайте <a href="https://zebrabi.com/ibcs/" target="_blank">https://zebrabi.com/ibcs/</a> вышла интересная, на мой взгляд, статья о стандартизации бизнес-коммуникаций. С разрешения правообладателя (Zebra BI) мы сделали ее перевод на русский язык.</p>

        <h2>International Business Communication Standards или как добиться последовательности в управленческой отчетности</h2>

        <p>В этой статье мы расскажем о важности стандартов как в бизнесе, так и в жизни, объясним основы IBCS стандартов, покажем распространенные ошибки и выделим лучшие практики проектирования дашбордов. Мы также осуществим полную переработку неудачно спроектированного дашборда.</p>

        <h3>В чем практичность стандартов?</h3>

        <p>Стандартизация - процесс разработки и внедрения технических стандартов, который позволяет обеспечить совместимость, воспроизводимость, безопасность и качество. &nbsp;Источник – Википедия</p>

        <p>Наличие стандартов в нашей повседневной жизни полезно по многим причинам. Они упрощают принятие решений, позволяют работать более эффективно, часто делают нашу жизнь проще.</p>

        <p>Например, знак дорожного движения «STOP» - где бы вы ни находились, вы понимаете, что нужно делать, когда видите на дороге этот знак:</p>

        <p><img alt="" height="200" src="https://homs.top/images-articles/stop.jpg" width="200"></p>

        <p>Ниже представлено четыре хорошо известных примера стандартизации:</p>

        <ol>
          <li>Письмо. В мире существует несколько стандартных алфавитов для написания текста – это латинский алфавит, кириллический, арабский, китайский</li>
          <li>Электричество. Сетевое электричество стандартизировано во всем мире в виде переменного тока. Однако существуют различные виды напряжения и частоты электропитания, что побуждает использовать различные (стандартизированные) вилки и розетки для обеспечения защиты от случайного использования приборов с несовместимыми требованиями к напряжению</li>
          <li>Движение. Знаки дорожного движения являются стандартными во всем мире. Их наличие обеспечивает движение огромного количества транспортных средств в соответствии с определенными правилами</li>
          <li>Музыка. Музыкальная нотация (нотная грамота) стандартизирована уже более тысячи лет, что позволяет музыкантам со всего мира воспроизводить музыку по музыкальным произведениям, даже если этим произведениям уже несколько веков.</li>
        </ol>

        <p><img alt="" height="468" src="https://homs.top/images-articles/map.jpg" width="624"></p>

        <h4>Стандартизация делового общения</h4>

        <p>Деловая коммуникация – это воплощение в жизнь, например, в виде презентаций количественной информации для целей анализа и отчетности. Источник – www.ibcs.com</p>

        <p>Международные стандарты деловой коммуникации (IBCS) представляют собой практическое решение по тому, как создавать управленческие отчеты.</p>

        <p>В 2004 году доктор Рольф Хичерт (Dr. Rolf Hichert ) взял на себя задачу стандартизировать то, как аналитики и финансисты должны представлять данные в своих отчетах, презентациях и дашбордах. Без стандартов генеральный директор может получить синие линейные диаграммы продаж от одного аналитика и красную круговую диаграмму от другого. В этом случае каждый автор отчета индивидуально принимает решение о дизайне как отчета, так и его отдельных объектов (диаграмм и таблиц). Это приводит к путанице и невозможности быстро принимать решения на основе подобных отчетов. Поэтому директора так часто игнорируют дашборы, которые им были предоставлены.</p>

        <h3>Три столпа IBCS стандартов</h3>

        <p>Базовая идея ассоциации IBCS (www.ibcs.com) заключается в следующем - вещи, которые означают одно и то же, должны выглядеть одинаково. Противоположное также верно - если вещи не означают одно и то же, они не должны выглядеть одинаково.</p>

        <p>Стандарты IBCS состоят из трех основных компонент:</p>

        <p>1.&nbsp;&nbsp; &nbsp;Концептуальные правила - как организовать контент таким образом, чтобы он передавал ваше сообщение<br>
          2.&nbsp;&nbsp; &nbsp;Правила восприятия - какие визуализации использовать в данном конкретном случае<br>
          3.&nbsp;&nbsp; &nbsp;Семантические правила – описание всех важных и часто используемых аспектов деловой коммуникации: терминология, анализ, и показатели</p>

        <p>Во многом данные правила основываются на работах известных специалистов в области визуализации: Уильяма Плейфера, Уилларда Коупа Бринтона, Джина Желязны, Эдварда Тафта и Барбары Минто. Таким образом, IBCS стандарты основаны на сплаве науки и практики.</p>

        <h3>ТОП 5 рекомендаций IBCS</h3>

        <p>1.&nbsp;&nbsp; &nbsp;Отражайте время по горизонтали, структуру – по вертикали. Эта рекомендация применима к 95% всех графиков. Время – дни, месяцы, кварталы, годы. Время всегда необходимо помещать на горизонтальную ось. А вот структурное сравнение, например, городов, стран, проектов или видов доходов необходимо размещать на вертикальной оси</p>

        <p><img alt="" height="304" src="https://homs.top/images-articles/ibcs.jpg" width="478"></p>

        <p>2.&nbsp;&nbsp; &nbsp;Унифицируйте заголовки страниц, диаграмм и таблиц. Каждый журналист скажет вам, что, когда вы пытаетесь привлечь внимание, важен звучный заголовок. Вам нужно четко понимать, что вы пытаетесь сообщить своей диаграммой.<br>
          Вот рекомендуемый подход:</p>

        <p>a.&nbsp;&nbsp; &nbsp;Предмет. Это может быть ваша компания, подразделение, страна или название магазина<br>
          b.&nbsp;&nbsp; &nbsp;Единица измерения. Должно быть понятно в каких единицах отражены числовые значения, например, в рублях или долларах<br>
          c.&nbsp;&nbsp; &nbsp;Временной период. Завершите заголовок периодом, за который вы показываете данные. Например, май 2021 года<br>
          <img alt="" height="395" src="https://homs.top/images-articles/musd.jpg" width="538"></p>

        <p>3.&nbsp;&nbsp; &nbsp;Определите сценарии заливки. Дашборды в массе своей отражают сравнения. Например, отчет может содержать плановые, фактические данные и прогноз. В этом случае рекомендуется использовать сплошную заливку для фактических значений, контур для плановых и штриховку для прогноза</p>

        <p><img alt="" height="428" src="https://homs.top/images-articles/present.jpg" width="532"></p>

        <p>4.&nbsp;&nbsp; &nbsp;Выделяйте отклонения зеленым и красным цветом. Рекомендации IBCS содержат требования об использовании простых диаграмм в черно-белом цвете. Это связано с тем, что философия IBCS заключается в том, что цвета должны быть зарезервированы для более важных вещей. Например, для отклонений – зеленый цвет означает благоприятное отклонение, красный - неблагоприятное. Тут также важно иметь в виду, что неблагоприятное отклонение не обязательно является отрицательным числом. Например, увеличение затрат - положительное значение, которое является неблагоприятным отклонением</p>

        <p><img alt="" height="383" src="https://homs.top/images-articles/dry.jpg" width="624"></p>

        <p>5.&nbsp;&nbsp; &nbsp;Используйте выделение, чтобы донести свое сообщение. Глядя на приведенный ниже пример, вы можете видеть, как выделена разница между самой высокой и текущей ценой акции. Это ясно показывает, насколько сильно снизилась цена акций.</p>

        <p><img alt="" height="411" src="https://homs.top/images-articles/share.jpg" width="534"></p>

        <p>Почему важно придерживаться единых принципов в визуализации данных – Case Study</p>

        <p>Ниже представлена типичная панель мониторинга продаж<br>
          <img alt="" height="353" src="https://homs.top/images-articles/dash.jpg" width="624"></p>

        <p>Что не так с этим дашбордом?</p>

        <p>Во-первых, название - просто показывает год и ничего больше. Следовательно, вы не знаете, что это за компания, какие показатели отражены и каковы единицы измерения.</p>

        <p>Далее идет диаграмма спидометр. Она должна отражать отклонение, а не фактическое значение. Кроме того, в названии диаграммы должна быть буква "М" – миллионы денежных единиц.</p>

        <p>Кольцевая диаграмма не является удачным выбором из-за ее низкой информативности и использования легенды.&nbsp;<br>
          <img alt="" height="206" src="https://homs.top/images-articles/year.jpg" width="624"></p>

        <p>Диаграмма «спагетти» не подходит для отображения такого типа информации. Пользователь должен постоянно отвлекаться на легенду для определения какому цвету соответствует каждая категория. Название «Месяц» на оси абсцисс несет явно избыточную информацию.</p>

        <p><img alt="" height="424" src="https://homs.top/images-articles/sale.jpg" width="624"></p>

        <p>Следующий элемент - древовидная карта. Данный элемент занимает много места, однако несет мало информации - значения отсутствуют, цвета выбраны без какого-либо смысла.</p>

        <p><img alt="" height="410" src="https://homs.top/images-articles/sale-ac.jpg" width="624"></p>

        <p>Далее таблица. Ширина столбца таблицы не должна определяться длиной названия столбца. Фон ячеек не должен быть цветным: важно использовать простое правило - всегда помещать черный текст на белый фон. В заголовках столбцов термин "Продажи" повторяется три раза, что является излишним. Кроме того, значения должны быть выровнены по правому краю, в то время как буквы K и M, обозначающие тысячи и миллионы, должны быть в заголовке или подзаголовке таблицы.<br>
          <img alt="" height="298" src="https://homs.top/images-articles/chain.jpg" width="624"></p>

        <p>Наконец, столбчатая диаграмма. На оси абсцисс нанесено название «Месяц», что является явно избыточным. Если удалить вертикальную ось и вместо этого указать значения отдельных столбцов, это значительно облегчит понимание значений. Кроме того, диаграмма должна быть на 12 месяцев. В противном случае возникает вопрос - что происходит в сентябре, октябре и далее?</p>

        <p><img alt="" height="179" src="https://homs.top/images-articles/sale-ac-2.jpg" width="624"></p>

        <p>Перепроектирование дашборда – подход IBCS<br>
          Чтобы изменить дизайн этого дашборда, мы будем использовать визуальные элементы Zebra BI для MS Power BI, сертифицированные IBCS. Мы начнем с перепроектирования этих двух диаграмм:</p>

        <p><img alt="" height="360" src="https://homs.top/images-articles/alpha.jpg" width="624"></p>

        <p>Ключевая задача данного дашборда – сравнить факт с планом и отразить абсолютные и относительные отклонения. Именно это интуитивно должны понимать пользователи отчета. Поэтому первое, что нужно сделать, это заменить карточку и спидометр таблицей, в которой отражается сравнение фактических значений с плановыми</p>

        <p><img alt="" height="220" src="https://homs.top/images-articles/ac.jpg" width="618"></p>

        <p>На диаграмме выше AC – фактические значения, PL – плановые значения. Таким образом мы сравниваем факт с планом по выручке и валовой марже.&nbsp;</p>

        <h3>Разбираемся с кольцевой диаграммой</h3>

        <p>Кольцевая диаграмма - первый шаг на пути, который позволит объединить сразу несколько элементов в один. Во-первых, превратим диаграмму в таблицу Zebra BI, а затем добавим ИТОГ. Далее выберем водопадную диаграмму, чтобы показать вклад каждой статьи в общую сумму.&nbsp;</p>

        <h4>Вот результат</h4>

        <p><img alt="" height="196" src="https://homs.top/images-articles/sale-2.jpg" width="624"></p>

        <p>После небольших преобразований в Zebra BI мы получаем таблицу, которая включает в себя всю информацию из кольцевой диаграммы, диаграммы дерева и таблицы. Вместо того, чтобы менять только одну визуализацию, мы объединили три разных элемента в одну таблицу, которая гораздо информативнее:</p>

        <p><img alt="" height="237" src="https://homs.top/images-articles/img-01.jpg" width="624"></p>

        <p>Распутываем спагетти</p>

        <p>IBCS стандарты рекомендуют нам разбить графики на отдельные диаграммы и разместить их на одной странице в масштабе.</p>

        <p>И вместо этого:</p>

        <p><img alt="" height="421" src="https://homs.top/images-articles/img-02.jpg" width="624"></p>

        <p>Мы получаем это</p>

        <p><img alt="" height="311" src="https://homs.top/images-articles/img-03.jpg" width="624"></p>

        <p>Вместо того, чтобы иметь одну диаграмму с нечитаемыми линиями мы получаем девять различных диаграмм, каждая из которых показывает индивидуальные значения. При этом верхний ряд диаграмм визуально больше нижнего т.к. вклад в общее значение данных из верхних диаграмм больше, чем нижних.</p>

        <p>В названии диаграммы мы отразили К, что означает единица измерения тысячи. Мы также убрали десятые доли и отразили только наиболее важные метки - первое и последнее значение (план и факт), а также минимальное и максимальное значение. Наконец, мы добавили отклонение факта от плана.</p>

        <p>И теперь можем видеть реальную проблему - продажи женской одежды (диаграмма Womens) на 33% ниже плана. До вышеуказанных преобразований разобраться, где проблема было практически невозможно!</p>

        <p>&nbsp;</p>

        <h3>Окончательный результат редизайна</h3>

        <p>В заключении нам нужно разместить объекты на странице панели мониторинга. Как правило, мы всегда начинаем читать слева направо и сверху вниз. Поэтому помещаем наиболее важную информацию, такую как KPI, в левом верхнем углу. В итоге получается такой отчет<br>
          <img alt="" height="343" src="https://homs.top/images-articles/img-04.jpg" width="624"></p>

        <p>&nbsp;</p>

        <h2>Ключевые советы IBCS стандартов</h2>

        <h3>Избегайте любого рода помех в отчетах</h3>

        <p>Дизайн – не означает заполнить чем-то все доступное пространство. Например, если вы идете в кинотеатр, вы просто хотите посмотреть фильм. Логотипы или лишние рамки будут отвлекать от фильма, поэтому они отсутствуют. Делая отчеты простыми, без лишней информации, вы направляете внимание пользователя на то, что действительно важно.<br>
          <img alt="" height="453" src="https://homs.top/images-articles/img-05.jpg" width="624"></p>

        <h3>Сведите использование цвета к минимуму</h3>

        <p>Если вы хотите привлечь внимание, не раскрашивайте всю панель мониторинга. Цвета рекомендуется использовать только там, где нужно привлечь внимание читателя.&nbsp;</p>

        <p><img alt="" height="336" src="https://homs.top/images-articles/img-06.jpg" width="624"></p>

        <h3>Масштабируйте надлежащим образом</h3>

        <p>Честность в отчетах означает сравнение «яблок с яблоками» и корректное округление.</p>

        <p><img alt="" height="453" src="https://homs.top/images-articles/img-07.jpg" width="624"></p>

        <p>Используйте соответствующий шаблон заливки</p>

        <p>Вместо цветов используйте шаблоны заливки. Вот рекомендации IBCS:</p>

        <ul>
          <li>Сплошной черный цвет для фактических данных</li>
          <li>Контур для плана</li>
          <li>Штриховка для прогнозов</li>
          <li>Серый цвет для значений предыдущего года или месяца</li>
        </ul>

        <p><img alt="" height="432" src="https://homs.top/images-articles/img-08.jpg" width="550"></p>

      <svg class="services__article-decor">
        <use href="/assets/img/icons.svg#triangle"></use>
      </svg>
    </article>
  </section>
{% endblock %}
