.about-title {
  position: relative;
  color: #fff;
  background-color: $primary;

  .spin {
    bottom: 100%;

    &::after {
      bottom: 0;
    }
  }
}

.about-advantages {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.about-advantages-item {
  display: flex;
  align-items: center;
}

.about-advantages-decor {
  width: 16.6666%;
  flex-shrink: 0;
}

.about-advantages-icon {
  max-height: 68px;
  fill: $primary;
}

.about-advantages-text {
  flex-shrink: 1;
}

@media (min-width: 768px) {
  .about-title {
    line-height: 1.1;
    padding: 93px 130px 93px 95px;
  }
  .about-text {
    margin-bottom: 95px;
  }
  .about-advantages-item {
    margin-bottom: 25px;
  }
  .about-text {
    line-height: 1.2;
    text-align: justify;
  }
  .about-advantages-decor {
    margin-right: 7px;
  }
  .about-advantages-icon {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .about {
    margin-bottom: 40px;
  }

  .about-title {
    max-width: 845px;
    margin-top: -17%;
    margin-bottom: 93px;

    .spin {
      height: 207px;
      left: 198px;
      margin-bottom: -50px;
    }
  }
  .about-advantages-title {
    max-width: 65%;
    margin-bottom: 74px;
  }
}

@media (max-width: 1199px) {
  .about-title {
    margin-bottom: 75px;

    .spin {
      height: 70px;
      left: 50%;
      margin-bottom: -45px;
    }
  }
  .about-advantages-title {
    margin-bottom: 70px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .about-title {
    padding: 68px 9vw;
  }
  .about-text {
    margin-bottom: 85px;
  }
  .about-advantages-item:not(:last-child) {
    margin-bottom: 35px;
  }
  .about-advantages-decor {
    margin-right: 15px;
  }
  .about-advantages-icon {
    max-width: 100%;
  }
}
