.accordion {
  position: relative;
}

.accordion-list {
  margin-bottom: 0;
  list-style: none;
}

.accordion-item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &:not(.collapsed) {
    pointer-events: none;

    &::before {
      background-color: $primary;
    }

    .accordion-item__point {
      color: $white;
      background-color: $primary;
    }
  }

  &.collapsed {
    cursor: pointer;

    .accordion-item__point {
      color: #cecece;
      background-color: $white;
    }

    &:hover .accordion-item__point {
      color: $primary;
    }
  }

  &::before {
    height: 2px;
    top: 24px;
    position: absolute;
    background-color: #cecece;
    content: '';
    transition: width .5s, background-color .5s;
  }
}

.accordion-item__point {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: color .3s, background-color .3s;
}

.accordion-content__body {
  line-height: 1.3;
}

.accordion-content__title {
  margin-bottom: 22px;
}

.advantages-calculation__title {
  line-height: 1.2;
}

.calculation-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 1px solid #cecece;
}

.calculation-list__item {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 18px;
  line-height: 1.2;
  align-items: center;

  &:nth-child(even) {
    background-color: #efeeee;
  }
}

.calculation-list__option {
  text-align: right;
}

.calculation-total {
  padding-top: 15px;
}

.calculation-total__cost {
  padding-right: 15px;
  text-align: right;
}

.calculation-compare {
  line-height: 1;
  color: $white;
  background-color: $primary;
  position: relative;

  .spin {
    top: 0;
  }
}

.calculation-compare__text {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.calculation-compare__total {
  line-height: 1.2;
  display: flex;
  align-items: flex-end;

  .calculation-compare__text {
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .advantages {
    padding-top: 120px;
    margin-bottom: 100px;
  }

  .accordion-list {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .accordion-item {
    &:not(.collapsed)::before {
      width: 85px;
    }

    &::before {
      width: 55px;
      left: -102px;
    }
  }
  .accordion {
    margin-bottom: 43px;
  }
  .advantages-calculation__title {
    margin-bottom: 40px;
  }
  .calculation-compare__total {
    font-size: 65px;
  }
  .calculation-compare__text {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .calculation-compare {
    width: 100%;
    padding-top: 170px;
    padding-bottom: 150px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .spin {
      height: 148px;
      left: 43%;
    }
  }
}

@media (min-width: 1200px) {
  .calculation-compare {
    width: 93%;
  }
  .accordion-content__body {
    padding-top: 12px;
  }
}

@media (max-width: 991px) {
  .calculation-compare {
    margin-top: 55px;
    text-align: center;

    .spin {
      height: 95px;
      margin-left: 6px;
      left: 50%;
    }
  }
  .calculation-compare__total {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding-top: 110px;
  }
  .accordion-list {
    flex: 0 0 13%;
    max-width: 13%;
    padding-left: 0;
  }
  .accordion-item {
    &:not(.collapsed)::before {
      width: 48px;
    }

    &::before {
      width: 20px;
      left: -67px;
    }
  }
  .accordion-item__point {
    font-size: 24px;
  }
  .accordion-content {
    flex: 0 0 87%;
    max-width: 87%;
  }
  .advantages-calculation {
    margin-top: 45px;
  }
  .advantages-calculation__title {
    margin-bottom: 30px;
  }

  .calculation-compare__total {
    font-size: 14vw;
  }
  .calculation-compare__text {
    font-size: 6vw;
    letter-spacing: 1px;
  }
  .calculation-compare {
    padding-top: 17vh;
    padding-bottom: 16vh;
  }
}

@media (max-width: 575px) {
  .accordion-content__title {
    font-size: 5vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .calculation-compare {
    padding-top: 140px;
    padding-bottom: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .accordion-content__title {
    font-size: 31px;
  }
  .accordion-content__body {
    font-size: 24px;
  }
}
