.footer {
  color: #fff;
  background-color: $primary;
  line-height: 1;
}

.footer-inner {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-right: auto;
  flex-shrink: 0;
  img {
    display: block;
  }
}

.footer-contacts {
  text-align: right;
}

.footer-contacts__mail {
  font-size: 18px;
}

.footer-contacts__link {
  color: inherit;
  transition: color .3s;

  &:hover {
    color: #e2e2e2;
  }
}

@media (min-width: 768px) {
  .footer {
    padding-top: 76px;
    padding-bottom: 76px;
  }
  .footer-logo {
    width: 170px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-top: 12vh;
    padding-bottom: 12vh;
  }
  .footer-logo {
    width: 32vw;
  }
  .footer-contacts__phone {
    font-size: 5vw;
  }
  footer-logo
  .footer-contacts__mail {
    font-size: 4vw;
  }
}
