.footer {
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;

  @include media('<=767px') {
    flex-wrap: wrap;
  }
}

.footer__logo {
  flex-shrink: 0;

  @include media('<=767px') {
    width: 100%;
    margin-bottom: 31px;
  }
}

.footer__menu {
  display: flex;
  font-size: 20px;
  line-height: 1;

  @include media('>=768px') {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }

  @include media('<=767px') {
    flex-wrap: wrap;
  }
}

.footer__menu-item {
  @include media('>=768px') {
    margin-left: 20px;
    margin-right: 20px;
  }

  @include media('<=767px') {
    width: 50%;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.footer__menu-link {
  color: inherit;

  @include media('>=1100px') {
    position: relative;
    display: block;

    &::before,
    &::after {
      width: 100%;
      position: absolute;
      max-width: 0;
      z-index: 0;
      transition: max-width .4s;
      content: '';
    }

    &::before {
      top: -5px;
      left: 0;
      padding: 8px 0;
      border-top: 1px solid var(--primary);
    }

    &::after {
      bottom: -5px;
      right: 0;
      border-bottom: 1px solid var(--primary);
    }

    &:hover {
      &::before {
        max-width: 100%;
      }

      &::after {
        max-width: 100%;
      }
    }
  }
}
