.header {
  padding-top: 46px;
  height: 85.3vh;
  min-height: 920px;
  position: relative;
  background-color: #e0e0e0;
  overflow: hidden;

  &::after {
    width: 57%;
    height: 83%;
    opacity: .25;
    position: absolute;
    top: 83px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/homs.svg) no-repeat center;
    background-size: contain;
    content: '';
  }
}

.header-panel {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1;
  position: relative;
}

.header-panel__inner {
  position: relative;
  display: flex;
  align-items: center;
}

.header-logo {
  flex-shrink: 0;
}

.header-logo__link {
  width: 200px;
  height: 51px;
  display: block;
}

.header-phone {
  font-size: 24px;
  flex-shrink: 0;
  transition: color .3s;

  &:hover {
    color: $primary;
  }
}

.header-info {
  padding-top: 65px;
  height: 100%;
}

.header-info__content {
  padding-top: 119px;
}

.header-info__title {
  margin-bottom: 4px;
  font-size: 140px;
  text-transform: uppercase;
  line-height: 1;
}

.header-info__text {
  max-width: 400px;
  font-size: 24px;
  line-height: 1.2;
}

.header-info__media {
  width: 62vw;
  height: 48vw;
  top: 18vh;
  right: 0;
  position: absolute;
  background: url(../img/bg-media.png) no-repeat top center;
  background-size: contain;
  z-index: 2;
}

.header-video {
  width: 43.5vw;
  height: 58%;
  position: absolute;
  top: 3%;
  left: 16%;
}

.header-video__wrap {
  height: 100%;
}

.header-video__frame {
}

.header-video__play {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  background: url(../img/video-screen.jpg) no-repeat center;
  background-size: cover;
  display: flex;

  &::before {
    width: 120px;
    height: 120px;
    margin: auto;
    background: $primary;
    display: block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba($primary, 0.5), 0 0 0 1px rgba($primary, 0.5);
    animation: a 2s linear infinite;
    content: '';
  }

  &::after {
    margin-top: -10px;
    margin-left: -3px;
    top: 50%;
    left: 50%;
    border: 10px solid transparent;
    border-left-color: #fff8;
    position: absolute;
    z-index: 3;
    content: '';
  }
}

.header-video__open .header-video__play {
  z-index: -1;
}
