.header {
  position: relative;
  background-color: #e0e0e0;
  overflow: hidden;

  &::after {
    opacity: .25;
    position: absolute;
    background: url(../img/homs.svg) no-repeat center;
    pointer-events: none;
    content: '';
  }
}

.header-panel {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1;
  position: relative;
}

.header-panel__inner {
  position: relative;
  display: flex;
  align-items: center;
}

.header-logo {
  flex-shrink: 0;
  img {
    display: block;
  }
}

.header-logo__link {
  display: block;
}

.header-info {
  position: relative;
  z-index: 1;
}

.header-info__title {
  margin-bottom: 4px;
  text-transform: uppercase;
  line-height: 1;
}

.header-info__text {
  line-height: 1.2;
}

.header-video {
  width: 43.5vw;
  height: 58%;
  position: absolute;
  top: 3%;
  left: 16%;
}

.header-video__wrap {
  height: 100%;
}

.header-video__play {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  background: url(../img/video-screen.jpg) no-repeat center;
  background-size: cover;
  display: flex;

  &::before {
    width: 120px;
    height: 120px;
    margin: auto;
    background: $primary;
    display: block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba($primary, 0.5), 0 0 0 1px rgba($primary, 0.5);
    animation: a 2s linear infinite;
    content: '';
  }

  &::after {
    margin-top: -10px;
    margin-left: -3px;
    top: 50%;
    left: 50%;
    border: 10px solid transparent;
    border-left-color: #fff8;
    position: absolute;
    z-index: 3;
    content: '';
  }
}

.header-video__open .header-video__play {
  z-index: -1;
}

@media (min-width: 768px) {
  .header {
    padding-top: 46px;

    &::after {
      width: 57%;
      height: 83%;
      top: 83px;
      left: 50%;
      background-size: contain;
      transform: translateX(-50%);
    }
  }
  .header-logo__link {
    width: 200px;
    height: 51px;
  }
  .header-phone {
    flex-shrink: 0;
    transition: color .3s;
  }
  .header-info {
    padding-top: 65px;
    height: 100%;
  }
  .header-info__content {
    padding-top: 119px;
  }

  .header-info__title {
    font-size: 140px;
  }
  .header-info__media {
    width: 62vw;
    height: 48vw;
    background: url(../img/bg-media.png) no-repeat top center;
    background-size: contain;
    z-index: 2;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 85.3vh;
    min-height: 920px;
  }
  .header-phone:hover {
    color: $primary;
  }

  .header-info__text {
    max-width: 400px;
  }
  .header-info__media {
    top: 18vh;
    right: 0;
    position: absolute;
  }
}

@media (max-width: 1199px) {
  .header-info__content {
    text-align: center;
  }
  .header-info__text {
    font-size: 40px;
  }
  .header-info__media {
    position: relative;
    margin-right: auto;
    margin-left: auto;
  }
  .header-logo {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .header-info__media {
    display: none;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 17px;
    padding-bottom: 50px;

    &::after {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-size: 80%;
      background-position-y: 60px;
    }
  }
  .header-panel {
    padding-top: 4px;
  }
  .header-logo__link {
    width: 32vw;
  }
  .header-phone {
    display: none;
  }
  .header-info__content {
    padding-top: 87px;
  }
  .header-info__text {
    font-size: 7vw;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header-info__content {
    margin-bottom: 45px;
  }
}
