.scroll-to-top {
  width: 33px;
  height: 33px;
  right: 15px;
  bottom: 45px;
  display: block;
  line-height: 27px;
  text-align: center;
  border-radius: 5px;
  z-index: 5;
  position: fixed;
  border: 2px solid $white;
  cursor: pointer;
  background-color: $primary;
  transition: opacity .3s;

  &:hover {
    opacity: .86;
  }
}

.scroll-to-top__icon {
  width: 11px;
  height: 11px;
  fill: $white;
  transform: rotate(90deg);
}
