<div class="base__search form__group">
  <input
    type="search"
    name="search"
    class="base__search-input js-base__search-input form__control"
    aria-label="search"
    placeholder="Поиск"
  >
  <label class="form__label">Поиск</label>
  <svg class="base__search-icon">
    <use href="/assets/img/icons.svg#search"></use>
  </svg>
</div>
