<nav class="base__nav">
  <a href="/knowledge-base-video.html" class="base__nav-item fw-extra-bold{% if isActiveVideo %} active{% endif %}">
    видео
  </a>
  <a href="/knowledge-base-article.html" class="base__nav-item fw-extra-bold{% if isActiveArticle %} active{% endif %}">
    статьи
  </a>
  <a href="/knowledge-base-special.html" class="base__nav-item fw-extra-bold{% if isActiveSpecial %} active{% endif %}">
    специальные отчеты
  </a>

  <svg class="base__nav-decor">
    <use href="/assets/img/icons.svg#triangle"></use>
  </svg>
</nav>
