.form__group {
  position: relative;
}

.form__btn {
  padding: 15px 32px;
  display: inline-flex;
  border: none;
  background-color: #1961AA;
  transition: opacity .2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.form__label {
  position: absolute;
  top: 14px;
  right: 0;
  left: 17px;
  z-index: 3;
  overflow: hidden;
  color: #5c5c5c;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all .2s ease;
  pointer-events: none;
}

.form__control {
  height: 52px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.375rem 16px;
  color: #181818;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-overflow: ellipsis;
  background-color: #f8f8f8;
  background-clip: padding-box;
  border: 1px solid #9d9d9d;
  border-radius: 0;
  transition: border-color .2s ease-in-out;
  appearance: none;

  @include hidePlaceholder {
    color: #5c5c5c;
    opacity: 1;
    transition: opacity .2s ease-in-out;
  }

  &:focus {
    outline: 0;

    @include hidePlaceholder {
      opacity: 0;
      transition: opacity .2s ease-in-out;
    }
  }

  @include hidePlaceholder {
    color: transparent;
    opacity: 0.4;
    transition: opacity .2s ease-in-out;
  }

  &:focus,
  &:not(:placeholder-shown) {
    padding-top: 17px;

    & ~ .form__label {
      top: 5px;
      right: 1px;
      font-weight: 700;
      font-size: 12px;
      background-color: #f8f8f8;
    }
  }

  &[type="file"] {
    overflow: hidden;
    padding: 0 11px;
    line-height: 52px;
  }

  &[type="file"]:not(:disabled, [readonly]) {
    cursor: pointer;
  }

  &:hover {
    border-color: var(--hover);
  }

  &.is-error {
    background-color: var(--red0);
    border-color: var(--red5);

    + .form__error {
      position: static;
      opacity: 1;
    }
  }

  &.is-success {
    background-color: var(--green0);
    border-color: var(--green0);
  }

  &::-webkit-date-and-time-value {
    height: 1.5em;
  }

  &:disabled,
  .form__control[readonly] {
    color: var(--text-disabled);
    background-color: var(--bg-disabled);
    border-color: var(--text-disabled);
    opacity: 1;
  }

  &::-webkit-file-upload-button {
    margin: -0.375rem -0.75rem;
    padding: 0.375rem 0.75rem;
    color: #212529;
    background-color: #e9ecef;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    pointer-events: none;
    -webkit-margin-end: 0.75rem;
    margin-inline-end: 0.75rem;
    border-inline-end-width: 1px;
  }

  &::file-selector-button {
    margin: -0.375rem -0.75rem;
    padding: 0.375rem 0.75rem;
    color: #212529;
    background-color: #e9ecef;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    pointer-events: none;
    -webkit-margin-end: 0.75rem;
    margin-inline-end: 0.75rem;
    border-inline-end-width: 1px;
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;

    &::-webkit-file-upload-button {
      transition: none;
    }

    &::file-selector-button {
      transition: none;
    }
  }

  &:hover:not(:disabled, [readonly])::-webkit-file-upload-button {
    background-color: #dde0e3;
  }

  &:hover:not(:disabled, [readonly])::file-selector-button {
    background-color: #dde0e3;
  }
}

textarea.form__control {
  min-height: 100px;

  &.is-auto-height {
    min-height: initial;
  }
}

.textarea__limit-counter {
  &::before {
    margin-top: 16px;
    color: var(--warn);
    font-weight: 400;
    font-size: 13px;
    position: absolute;
    bottom: -1px;
    left: 0;
    padding-left: 48px;
    content: attr(data-textarea-error);
  }

  &::after {
    display: block;
    margin-top: 16px;
    color: #5c5c5c;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    content: attr(data-textarea-count) '/' attr(data-textarea-limit);
  }
}

.form__error {
  position: absolute;
  display: flex;
  align-items: center;
  color: var(--red5);
  font-size: 12px;
  line-height: 1;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  pointer-events: none;

}

.form__error-decor {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: var(--red5);
}
