.container {
  max-width: 1240px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.text-center {
  text-align: center !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-default {
  font-size: 18px;
  line-height: 1.4;
}

.text-white {
  color: var(--white) !important;
}

.text-black {
  color: var(--black) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.text-decor {
  position: relative;

  &::before {
    width: 41px;
    height: 3px;
    background-color: var(--primary);
    position: absolute;
    top: 50%;
    left: -54px;
    transform: translateY(-50%);
    content: '';
  }
}

.font-family-tinos {
  font-family: var(--font-family-tinos) !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.list-unstyled {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

