.container {
  max-width: 1240px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.text-center {
  text-align: center;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-default {
  font-size: 18px;
  line-height: 1.4;
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-primary {
  color: var(--primary);
}

.text-gray {
  color: var(--gray);
}

.font-family-tinos {
  font-family: var(--font-family-tinos);
}

.fw-bold {
  font-weight: 700;
}

.fw-extra-bold {
  font-weight: 900;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.list-unstyled {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.list-dot {
  list-style: none;
  padding-left: 26px;

  li {
    position: relative;

    &::before {
      width: 7px;
      height: 7px;
      top: 8px;
      left: -26px;
      position: absolute;
      border-radius: 50%;
      background-color: var(--primary);
      content: '';
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
