@@include('./includes/header.html')

<header class="header" id="home">
    <nav class="header-panel">
        <div class="header-panel__inner container">
            <div class="header-logo logo">
                <a href="#home" class="header-logo__link"><img src="img/logo.svg" alt="Homs"></a>
            </div>

            <ul class="menu list-unstyled" id="navbar">
                <li class="menu-item nav-item"><a href="#home" class="menu-link nav-link active" data-hover="О&nbsp;HOMS">О HOMS</a></li>
                <li class="menu-item nav-item"><a href="#two" class="menu-link nav-link" data-hover="В&nbsp;чем&nbsp;польза?">В чем польза?</a></li>
                <li class="menu-item nav-item"><a href="#three" class="menu-link nav-link" data-hover="варианты&nbsp;внедрения">варианты внедрения</a></li>
                <li class="menu-item nav-item"><a href="#fourth" class="menu-link nav-link" data-hover="сценарии&nbsp;использования">сценарии использования</a></li>
                <li class="menu-item nav-item"><a href="#fifth" class="menu-link nav-link" data-hover="FAQ">FAQ</a></li>
                <li class="menu-item nav-item"><a href="#six" class="menu-link nav-link" data-hover="Контакты">Контакты</a></li>
            </ul>

            <a href="tel:+79158280033" rel="nofollow" class="header-phone">+7 (915) 828-00-33</a>

            <button type="button" class="menu-toggle"></button>
        </div>
    </nav>

    <div class="header-info container">
        <div class="header-info__content">
            <h1 class="header-info__title">homs</h1>
            <p class="header-info__text">
                Программа, позволяющая
                автоматизировать управленческий
                учет в гостинице
            </p>
        </div>
        <div class="header-info__media">

            <div class="header-video">
                <div class="header-video__wrap embed-responsive embed-responsive-16by9">
                    <iframe class="header-video__frame embed-responsive-item" src="https://www.youtube.com/embed/6FUmapkqPn0?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="header-video__play"></div>
            </div>


        </div>
    </div>
</header>

<div class="scroll-to-top">
    <svg class="scroll-to-top__icon">
        <use xlink:href="img/icons.svg#arrow"></use>
    </svg>
</div>

@@include('./includes/footer.html')