@@include('./includes/header.html', {
"title": "Homs - Программа, позволяющая автоматизировать управленческий учет в гостинице",
"description": "Homs - Программа, позволяющая автоматизировать управленческий учет в гостинице",
"lang": "ru",
"lang_ru": " header-lang__active",
"lang_en": "",
"home": "О&nbsp;HOMS",
"advantages": "В&nbsp;чем&nbsp;польза?",
"compare": "Варианты&nbsp;внедрения",
"cases": "Сценарии&nbsp;использования",
"faq": "FAQ",
"contacts": "Контакты",
"menu": "меню",
"text": "Программа, позволяющая автоматизировать управленческий учет в&nbsp;гостинице"
})

<section class="about container" id="two">
    <h2 class="about-title">
        Hotel Operational Management Software
        <span class="spin"></span>
    </h2>

    <div class="about-text">
        Наша команда занимается управлением финансами в&nbsp;индустрии гостеприимства более пятнадцати лет. За&nbsp;это
        время мы&nbsp;глубоко изучили опыт ведения и&nbsp;автоматизации управленческого учета как российскими
        отельерами, так и&nbsp;международными операторами. На&nbsp;основе полученного опыта мы&nbsp;создали
        <strong>Hotel Operational Management Software</strong>. Это программа, позволяющая автоматизировать
        управленческий учет в&nbsp;гостинице.
    </div>

    <h3 class="about-advantages-title">
        HOMS будет полезен всем представителям
        индустрии, кто стремится:
    </h3>

    <ul class="about-advantages row">
        <li class="about-advantages-item col-md-6">
            <div class="about-advantages-decor">
                <svg class="about-advantages-icon">
                    <use xlink:href="/img/icons.svg#cash"></use>
                </svg>
            </div>
            <div class="about-advantages-text">
                Экономить денежные<br>
                средства отеля
            </div>
        </li>
        <li class="about-advantages-item col-md-6">
            <div class="about-advantages-decor">
                <svg class="about-advantages-icon">
                    <use xlink:href="/img/icons.svg#doc"></use>
                </svg>
            </div>
            <div class="about-advantages-text">
                Навести порядок у&nbsp;себя в&nbsp;учете
            </div>
        </li>
        <li class="about-advantages-item col-md-6">
            <div class="about-advantages-decor">
                <svg class="about-advantages-icon">
                    <use xlink:href="/img/icons.svg#manual"></use>
                </svg>
            </div>
            <div class="about-advantages-text">
                Минимизировать ручной&nbsp;труд
            </div>
        </li>
        <li class="about-advantages-item col-md-6">
            <div class="about-advantages-decor">
                <svg class="about-advantages-icon">
                    <use xlink:href="/img/icons.svg#members"></use>
                </svg>
            </div>
            <div class="about-advantages-text">
                Повысить конкурентоспособность
            </div>
        </li>
        <li class="about-advantages-item col-md-6">
            <div class="about-advantages-decor">
                <svg class="about-advantages-icon">
                    <use xlink:href="/img/icons.svg#time"></use>
                </svg>
            </div>
            <div class="about-advantages-text">
                Выделить больше времени<br>
                для анализа данных
            </div>
        </li>
    </ul>
</section>

<section class="advantages container" id="advantages">
    <h2>в чем польза</h2>

    <div class="accordion row" id="accordionAdvantages">
        <ol class="accordion-list">
            <li class="accordion-item" id="heading1" data-toggle="collapse" data-target="#collapse1"
                aria-expanded="true" aria-controls="collapse1">
                <div class="accordion-item__point">01</div>
            </li>
            <li class="accordion-item collapsed" id="heading2" data-toggle="collapse" data-target="#collapse2"
                aria-expanded="false" aria-controls="collapse2">
                <div class="accordion-item__point">02</div>
            </li>
            <li class="accordion-item collapsed" id="heading3" data-toggle="collapse" data-target="#collapse3"
                aria-expanded="false" aria-controls="collapse3">
                <div class="accordion-item__point">03</div>
            </li>
            <li class="accordion-item collapsed" id="heading4" data-toggle="collapse" data-target="#collapse4"
                aria-expanded="false" aria-controls="collapse4">
                <div class="accordion-item__point">04</div>
            </li>
            <li class="accordion-item collapsed" id="heading5" data-toggle="collapse" data-target="#collapse5"
                aria-expanded="false" aria-controls="collapse5">
                <div class="accordion-item__point">05</div>
            </li>
            <li class="accordion-item collapsed" id="heading6" data-toggle="collapse" data-target="#collapse6"
                aria-expanded="false" aria-controls="collapse6">
                <div class="accordion-item__point">06</div>
            </li>
            <li class="accordion-item collapsed" id="heading7" data-toggle="collapse" data-target="#collapse7"
                aria-expanded="false" aria-controls="collapse7">
                <div class="accordion-item__point">07</div>
            </li>
        </ol>
        <div class="accordion-content col-11">
            <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionAdvantages">
                <div class="accordion-content__body">
                    <h3 class="accordion-content__title">HOMS позволяет экономить</h3>
                        Управленческий учет в&nbsp;гостинице, как правило, ведется в&nbsp;Excel. Главный минус этого&nbsp;&mdash;
                        денежные затраты на&nbsp;специалистов, перебивающих данные из&nbsp;учетной системы в&nbsp;Excel.
                        <span class="accordion-content__hide-m">
                            С&nbsp;HOMS у&nbsp;вас не&nbsp;будет этих затрат! Вы&nbsp;получаете готовый отчет автоматически
                            и&nbsp;концентрируетесь на&nbsp;анализе данных. Больше не&nbsp;надо никого уговаривать остаться после
                            работы &laquo;т.к. завтра сдавать отчет шефу&raquo;! Представлен примерный расчет прямой экономии.
                        </span>
                        При внедрении HOMS
                        отпадет необходимость, как минимум, в&nbsp;одном специалисте, занимающемся ручным переносом данных.
                        Это позволит гостинице сэкономить более шестисот тысяч рублей в&nbsp;год!


                </div>
            </div>
            <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionAdvantages">
                <div class="accordion-content__body">
                    <h3 class="accordion-content__title">HOMS экономит не только деньги, но и время</h3>
                    Очень часто мы&nbsp;слышим от&nbsp;финансистов, отвечающих за&nbsp;управленческий учет, что
                    критически не&nbsp;хватает времени на&nbsp;анализ! С&nbsp;HOMS вы&nbsp;получите две дополнительные
                    недели каждый месяц или 504 дополнительных человеко-часа в&nbsp;год на&nbsp;вдумчивый анализ
                    результатов деятельности.
                </div>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionAdvantages">
                <div class="accordion-content__body">
                    <h3 class="accordion-content__title">HOMS наводит порядок</h3>
                    Результат работы программы&nbsp;&mdash; ежемесячное автоматическое формирование отчета. Его мы&nbsp;называем
                    Databook. Это 16&nbsp;страничный документ обо всех аспектах деятельности гостиницы. Если&nbsp;же
                    предустановленный набор отчетов вас не&nbsp;устроит, в&nbsp;HOMS встроен конструктор. Вы&nbsp;всегда
                    можете создать свой собственный отчет!
                </div>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionAdvantages">
                <div class="accordion-content__body">
                    <h3 class="accordion-content__title">HOMS избавляет от рутины</h3>
                    Все, что можно посчитать, HOMS сделает за&nbsp;вас! Система посчитает динамику доходов и&nbsp;расходов
                    в&nbsp;разрезе план&nbsp;/ факт&nbsp;/ отклонение&nbsp;/ прошлый год как за&nbsp;конкретный месяц,
                    так и&nbsp;нарастающим итогом с&nbsp;начала года. Задача пользователя&nbsp;&mdash; анализ.
                </div>
            </div>
            <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionAdvantages">
                <div class="accordion-content__body">
                    <h3 class="accordion-content__title">HOMS помогает в анализе данных</h3>
                    Высокий уровень детализации данных позволит четко определить проблемные точки и&nbsp;концентрировать
                    усилия на&nbsp;конкретных действиях по&nbsp;устранению негативных отклонений.
                </div>
            </div>
            <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionAdvantages">
                <div class="accordion-content__body">
                    <h3 class="accordion-content__title">HOMS умеет визуализировать</h3>
                    Специально для подготовки отчетов руководству и&nbsp;акционерам мы&nbsp;встроили механизм
                    визуализации данных. HOMS Dashboard поможет наглядно донести главные результаты работы гостиницы!
                </div>
            </div>
            <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionAdvantages">
                <div class="accordion-content__body">
                    <h3 class="accordion-content__title">HOMS повышает конкурентоспособность</h3>
                    Благодаря HOMS вы&nbsp;закрываете месяц 5-го числа. На&nbsp;практике это означает, что вы&nbsp;получаете
                    туже информацию и&nbsp;в&nbsp;те&nbsp;же сроки, что и&nbsp;международные гостиничные операторы,
                    работающие в&nbsp;вашем городе.
                </div>
            </div>
        </div>
    </div>

    <div class="advantages-calculation row collapse show" id="advantagesCalculation1">
        <div class="col-lg-6">
            <div class="advantages-calculation__title">
                Расчет годовой экономии<br>
                для 3* гостиницы на 70 номеров
            </div>

            <ul class="calculation-list">
                <li class="calculation-list__item row">
                    <div class="calculation-list__label col-8">
                        Количество специалистов, выполняющие ручные операции
                    </div>
                    <div class="calculation-list__option col-4">1</div>
                </li>
                <li class="calculation-list__item row">
                    <div class="calculation-list__label col-8">З/п на руки</div>
                    <div class="calculation-list__option col-4">35 000</div>
                </li>
                <li class="calculation-list__item row">
                    <div class="calculation-list__label col-8">НДФЛ</div>
                    <div class="calculation-list__option col-4">5 230</div>
                </li>
                <li class="calculation-list__item row">
                    <div class="calculation-list__label col-8">Соц взносы</div>
                    <div class="calculation-list__option col-4">12 069</div>
                </li>
                <li class="calculation-list__item row">
                    <div class="calculation-list__label col-8">Количество месяцев</div>
                    <div class="calculation-list__option col-4">12</div>
                </li>
            </ul>

            <div class="calculation-total row">
                <div class="col-7">Итого:</div>
                <div class="col-5">
                    <div class="calculation-total__cost">
                        627 586
                        <span class="rub">₽</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="calculation-compare">
                <div>
                    <div class="calculation-compare__text">экономия более</div>
                    <div class="calculation-compare__total">
                        <span>600 000</span>
                        <span class="calculation-compare__text">в год!</span>
                    </div>
                </div>

                <span class="spin"></span>
            </div>
        </div>
    </div>

    <div class="advantages-calculation row collapse" id="advantagesCalculation2">
        <div class="col-lg-6">
            <div class="advantages-calculation__title">
                Расчет годовой экономии<br>
                человеко-часов
            </div>

            <ul class="calculation-list">
                <li class="calculation-list__item row">
                    <div class="calculation-list__label col-8">
                        Количество специалистов, выполняющие ручные операции
                    </div>
                    <div class="calculation-list__option col-4">1</div>
                </li>
                <li class="calculation-list__item row">
                    <div class="calculation-list__label col-8">
                        Примерное кол-во человеко-часов на подготовку ежемесячного отчета вручную.
                        Сдача отчета - 20-го числа
                    </div>
                    <div class="calculation-list__option col-4">42</div>
                </li>
                <li class="calculation-list__item row">
                    <div class="calculation-list__label col-8">Количество месяцев</div>
                    <div class="calculation-list__option col-4">12</div>
                </li>
            </ul>

            <div class="calculation-total row">
                <div class="col-8">Итого:</div>
                <div class="col-4">
                    <div class="calculation-total__cost">
                        504
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="calculation-compare">
                <div>
                    <div class="calculation-compare__text">Получите</div>
                    <div class="calculation-compare__total">
                        <span>504</span>
                        <span class="calculation-compare__text">дополнительных<br> человеко-часа<br> в год</span>
                    </div>
                </div>

                <span class="spin"></span>
            </div>
        </div>
    </div>
</section>

<section class="compare container" id="compare">
    <h2 class="compare-title">варианты внедрения</h2>

    <div class="compare-head">
        <div class="compare-label"> </div>
        <div class="compare-cell">HOMS базовая</div>
        <div class="compare-cell">HOMS расширенная</div>
        <div class="compare-cell">HOMS сетевая</div>
    </div>
    <ul class="compare-table">
        <li class="compare-row">
            <div class="compare-label">Интеграция с PMS-системой, ресторанной системой, учетной системой</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">Предустановленные отчеты (Databook)</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">Конструктор пользовательских отчетов</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">Загрузка бюджетных показателей из Excel</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">Поддержка неограниченного числа версий бюджетов</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">Выгрузка готового отчета в Excel, pdf</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">Визуализация данных (Dashboard)</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">Англоязычная версия программы</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">Возможность ведения учета как по
                календарному году, так и по финансовому году
            </div>
            <div class="compare-cell">-</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">Консолидация данных по группе отелей</div>
            <div class="compare-cell">-</div>
            <div class="compare-cell">-</div>
            <div class="compare-cell">+</div>
        </li>
    </ul>
</section>

<section class="use-cases container" id="use-cases">
    <h2 class="use-cases-title col-lg-6">сценарии использования</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="use-cases-column">
                <h3 class="use-cases-column__title">
                    <svg class="use-cases-column__title-icon">
                        <use xlink:href="/img/icons.svg#hotel"></use>
                    </svg>
                    <span>Для отдельных гостиниц</span>
                </h3>

                <ul class="check-list">
                    <li class="check-list__item">
                        Когда появилось желание автоматизировать управленческий учет
                    </li>

                    <li class="check-list__item">
                        Когда необходимо найти время на&nbsp;глубокий анализ отклонений и&nbsp;безубыточности
                    </li>

                    <li class="check-list__item">
                        Когда вы&nbsp;устали от&nbsp;выверки таблиц в&nbsp;Excel
                    </li>

                    <li class="check-list__item">
                        Когда вы&nbsp;хотите просто и&nbsp;четко мотивировать руководителей доходных подразделений
                    </li>

                    <li class="check-list__item">
                        Когда в&nbsp;вашем городе появился конкурент под международным брендом
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="use-cases-column">
                <h3 class="use-cases-column__title">
                    <svg class="use-cases-column__title-icon">
                        <use xlink:href="/img/icons.svg#operation"></use>
                    </svg>
                    <span>Для гостиничных операторов</span>
                </h3>

                <ul class="check-list">
                    <li class="check-list__item">
                        Когда принято решение, что пора переходить на&nbsp;USALI
                    </li>

                    <li class="check-list__item">
                        Когда нужно решение именно для гостиниц
                    </li>

                    <li class="check-list__item">
                        Когда появилась потребность собрать в&nbsp;единое целое данные о&nbsp;работе всех гостиниц сети
                    </li>

                    <li class="check-list__item">
                        Когда вы&nbsp;хотите повысить Incentive Management Fee за&nbsp;счет снижения нераспределяемых расходов в&nbsp;гостиницах под управлением
                    </li>

                    <li class="check-list__item">
                        Когда финансовый и&nbsp;календарный год не&nbsp;совпадают
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="faq container" id="faq">
    <h2 class="faq-title col-lg-5">часто задаваемые вопросы</h2>

    <div class="faq-collapse" id="faqCollapse">
        <div class="faq-card">
            <h3 id="faqHead1" class="faq-card__title" data-toggle="collapse" data-target="#faqCollapse1" aria-expanded="true" aria-controls="faqCollapse1">
                Сколько времени занимает внедрение HOMS?
            </h3>

            <div id="faqCollapse1" class="collapse show" aria-labelledby="faqHead1" data-parent="#faqCollapse">
                <div class="faq-card__body">
                    Пять-семь месяцев. Период внедрения зависит от&nbsp;количества программ, которые нужно
                    интегрировать с&nbsp;HOMS и&nbsp;от&nbsp;количества отелей
                </div>
            </div>
        </div>

        <div class="faq-card">
            <h3 id="faqHead2" class="faq-card__title collapsed" data-toggle="collapse" data-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                Можем ли мы сами установить HOMS?
            </h3>

            <div id="faqCollapse2" class="collapse" aria-labelledby="faqHead2" data-parent="#faqCollapse">
                <div class="faq-card__body">
                    У&nbsp;двух разных заказчиков будут две разные версии HOMS. Это связано с&nbsp;тем, что каждый отель
                    имеет свою конфигурацию ПО. Мы&nbsp;настраиваем программу индивидуально под потребности конкретного
                    заказчика. Поэтому HOMS устанавливается только специалистами ПФМ
                </div>
            </div>
        </div>

        <div class="faq-card">
            <h3 id="faqHead3" class="faq-card__title collapsed" data-toggle="collapse" data-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
                У вас предусмотрено обучение работе с программой?
            </h3>

            <div id="faqCollapse3" class="collapse" aria-labelledby="faqHead3" data-parent="#faqCollapse">
                <div class="faq-card__body">
                    В&nbsp;стоимость внедрения входит необходимое количество часов для обучения пользователей
                </div>
            </div>
        </div>

        <div class="faq-card">
            <h3 id="faqHead4" class="faq-card__title collapsed" data-toggle="collapse" data-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
                На сколько конфиденциальны данные, загружаемые в HOMS?
            </h3>

            <div id="faqCollapse4" class="collapse" aria-labelledby="faqHead4" data-parent="#faqCollapse">
                <div class="faq-card__body">
                    HOMS устанавливается на&nbsp;сервере заказчика. HOMS не&nbsp;обменивается данными с&nbsp;внешним
                    миром.
                </div>
            </div>
        </div>

        <div class="faq-card">
            <h3 id="faqHead5" class="faq-card__title collapsed" data-toggle="collapse" data-target="#faqCollapse5" aria-expanded="false" aria-controls="faqCollapse5">
                Что входит в стоимость внедрения?
            </h3>

            <div id="faqCollapse5" class="collapse" aria-labelledby="faqHead5" data-parent="#faqCollapse">
                <div class="faq-card__body">
                    Наш подход&nbsp;&mdash; фиксированная плата за&nbsp;внедрение HOMS. Она в&nbsp;себя включает
                    изучение текущего состояния IT-систем заказчика, развертывание HOMS, формирование системы раннего
                    закрытия месяца, а&nbsp;также обучение работе с&nbsp;программой. Вам не&nbsp;нужно беспокоиться, что
                    &laquo;счетчик включен&raquo;. Согласованные, предсказуемые, фиксированные платежи означают, что
                    вы&nbsp;можете точно рассчитать стоимость внедрения
                </div>
            </div>
        </div>
    </div>
</section>

@@include('./includes/footer.html')