<section class="created">
  <h2 class="created__title text-uppercase section-decor">
    Для кого создан HOMS
  </h2>

  <div class="created__slider js-created__slider swiper">
    <div class="created__slider-wrap swiper-wrapper">
      <div class="created__slider-item swiper-slide">
        <div class="created__advantages-title text-primary text-uppercase fw-extra-bold">
          владелец<br>
          отеля
        </div>

        <ul class="list-decor">
          <li class="list-decor__item">
            Сможет через KPI максимально быстро узнать, как идут дела
            в&nbsp;гостинице
          </li>

          <li class="list-decor__item">
            Сможет сравнить результаты работы гостиницы со&nbsp;среднерыночными значениями
          </li>

          <li class="list-decor__item">
            Сможет выстроить систему премирования ключевых сотрудников на&nbsp;принципе win-win
          </li>

          <li class="list-decor__item">
            Ежемесячно понимать объем возможных дивидендов
          </li>

          <li class="list-decor__item">
            Сможет получить четкое представление, становится&nbsp;ли он&nbsp;богаче как владелец бизнеса и&nbsp;что на&nbsp;это влияет
          </li>
        </ul>

        <svg class="created__advantages-decor">
          <use href="/assets/img/icons.svg#triangle"></use>
        </svg>
      </div>

      <div class="created__slider-item swiper-slide">
        <div class="created__advantages-title text-primary text-uppercase fw-extra-bold">
          Генеральный менеджер
          и&nbsp;руководители
          подразделений
        </div>

        <ul class="list-decor">
          <li class="list-decor__item">
            Получит целостное представление о&nbsp;доходах, расходах и&nbsp;прибыли своих подразделений
            и&nbsp;отеля в&nbsp;целом
          </li>

          <li class="list-decor__item">
            Разработает общую стратегию получения выручки
            и&nbsp;максимизации прибыли
          </li>

          <li class="list-decor__item">
            Сможет детально разобраться
            в&nbsp;причинах отклонений
          </li>

          <li class="list-decor__item">
            Сможет интерактивно взаимодействовать
            с&nbsp;отчетом путем выбора периода, анализа факторов, оказывающих
            влияние на&nbsp;процесс, задания контекста для отчета
          </li>
        </ul>

        <svg class="created__advantages-decor">
          <use href="/assets/img/icons.svg#triangle"></use>
        </svg>
      </div>

      <div class="created__slider-item swiper-slide">
        <div class="created__advantages-title text-primary text-uppercase fw-extra-bold">
          финансовый<br>
          директор
        </div>

        <ul class="list-decor">
          <li class="list-decor__item">
            Сможет освободиться
            от&nbsp;бесконечной сверки разных баз, перепроверки формул, поиска данных за&nbsp;прошлые года
          </li>

          <li class="list-decor__item">
            Сможет делать раннее
            закрытие периода
          </li>

          <li class="list-decor__item">
            Получит возможность прямо
            в&nbsp;отчете иметь все необходимые расшифровки статей основных отчетов
          </li>

          <li class="list-decor__item">
            Получит возможность детально объяснить причины отклонений
          </li>

          <li class="list-decor__item">
            Сможет точнее прогнозировать будущее на&nbsp;основе драйверов
          </li>
        </ul>

        <svg class="created__advantages-decor">
          <use href="/assets/img/icons.svg#triangle"></use>
        </svg>
      </div>
    </div>

    <div class="created__slider-control">
      <div class="created__slider-nav created__slider-prev">
        <svg class="created__slider-nav-icon">
          <use href="/assets/img/icons.svg#triangle"></use>
        </svg>
      </div>
      <div class="created__slider-nav created__slider-next">
        <svg class="created__slider-nav-icon">
          <use href="/assets/img/icons.svg#triangle"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
