<section class="main-video">
  <img src="/assets/img/media/bg-media.png" class="main-video__img" alt="">

  <div class="main-video__play" data-fancybox="video" data-src="https://youtu.be/jCWe_5NVC_I">
    <svg class="main-video__play-decor">
      <use href="/assets/img/icons.svg#triangle"></use>
    </svg>
  </div>
</section>
