<section class="solutions">
  <div class="solutions__heading section-decor">
    <h2 class="solutions__heading-title text-uppercase">мы хорошо знаем трудности </h2>

    <div class="section-subtitle text-uppercase fw-bold text-gray mb-2">
      с которыми сталкиваются российские отельеры
    </div>
  </div>

  <div class="solutions__container section-radius bg-light-gray">
    <ul class="solutions__box list-dot">
      <li>
        Длительные сроки подготовки отчетности из-за большого объема ручного труда
      </li>

      <li>
        Отсутствие единой сквозной картины от&nbsp;выручки до&nbsp;прибыли и&nbsp;свободных денежных потоков
      </li>

      <li>
        Невозможность понять эффективность (прибыльность) отдельных подразделений (номера, рестораны, СПА и&nbsp;т.д.)
      </li>
    </ul>

    <ul class="solutions__box list-dot">
      <li>
        Необходимость объединения данных из&nbsp;разных систем PMS, RMS, учетной системы и&nbsp;т.д.
      </li>

      <li>
        Учет в&nbsp;отеле порой ведется кассовым методом (по&nbsp;факту прихода денег), а&nbsp;для
        анализа результатов необходим метод начислений (по&nbsp;факту оказания услуги). Отсутствие
        метода начислений приводит к&nbsp;принципиально неверному определению размера прибыли
      </li>
    </ul>

    <div class="solutions__bottom">
      <button class="solutions__bottom-btn btn btn-primary fw-extra-bold text-uppercase">
        связаться с нами
      </button>
    </div>
  </div>
</section>
