<footer class="footer">
    <div class="footer-inner container">
        <div class="footer-logo">
            <img src="img/logo-white.svg" alt="Homs">
        </div>
        <div class="footer-contacts">
            <div class="footer-contacts__phone">
                <a href="tel:+79158280033" rel="nofollow" class="footer-contacts__link">+7 (915) 828-00-33</a>
            </div>
            <a href="mailto:info@homs.expert" rel="nofollow" class="footer-contacts__mail footer-contacts__link">info@homs.expert</a>
        </div>
    </div>
</footer>

<div class="scroll-to-top">
    <svg class="scroll-to-top__icon">
        <use xlink:href="img/icons.svg#arrow"></use>
    </svg>
</div>

<script src="js/lib.min.js"></script>
<script src="js/scripts.min.js"></script>
</body>
</html>