@font-face {
  font-family: 'Sylfaen';
  src: url('../fonts/Sylfaen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALSRubl';
  src: url('../fonts/ALSRubl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
