@@include('../includes/header.html', {
"title": "Homs - Hotel Operational Management Software",
"description": "Homs - Hotel Operational Management Software",
"lang": "en",
"lang_ru": "",
"lang_en": " header-lang__active",
"home": "About&nbsp;HOMS",
"advantages": "What&nbsp;are&nbsp;the&nbsp;benefits?",
"compare": "Implementation&nbsp;options",
"cases": "User&nbsp;cases",
"faq": "FAQ",
"contacts": "Contacts",
"menu": "menu",
"text": "ABOUT HOMS"
})

<section class="about container" id="two">
    <h2 class="about-title">
        Hotel Operational Management Software
        <span class="spin"></span>
    </h2>

    <div class="about-text">
        Our team has been in financial management in the hospitality industry for over fifteen years. During this time,
        we have gained unique insights into maintaining and automating management accounting by both Russian hoteliers
        and international operators. Based on our diverse experience, we created Hotel Operational Management Software.
        It is a program that allows you to automate management accounting in a hotel efficiently.
    </div>

    <h3 class="about-advantages-title">
        HOMS will be useful to all industry representatives who strive to:
    </h3>

    <ul class="about-advantages row">
        <li class="about-advantages-item col-md-6">
            <div class="about-advantages-decor">
                <svg class="about-advantages-icon">
                    <use xlink:href="/img/icons.svg#cash"></use>
                </svg>
            </div>
            <div class="about-advantages-text">
                Save money in the hotel management
            </div>
        </li>
        <li class="about-advantages-item col-md-6">
            <div class="about-advantages-decor">
                <svg class="about-advantages-icon">
                    <use xlink:href="/img/icons.svg#doc"></use>
                </svg>
            </div>
            <div class="about-advantages-text">
                Minimize manual operations
            </div>
        </li>
        <li class="about-advantages-item col-md-6">
            <div class="about-advantages-decor">
                <svg class="about-advantages-icon">
                    <use xlink:href="/img/icons.svg#manual"></use>
                </svg>
            </div>
            <div class="about-advantages-text">
                Allocate more time for data analysis
            </div>
        </li>
        <li class="about-advantages-item col-md-6">
            <div class="about-advantages-decor">
                <svg class="about-advantages-icon">
                    <use xlink:href="/img/icons.svg#members"></use>
                </svg>
            </div>
            <div class="about-advantages-text">
                Clean up your account
            </div>
        </li>
        <li class="about-advantages-item col-md-6">
            <div class="about-advantages-decor">
                <svg class="about-advantages-icon">
                    <use xlink:href="/img/icons.svg#time"></use>
                </svg>
            </div>
            <div class="about-advantages-text">
                Increase competitiveness
            </div>
        </li>
    </ul>
</section>

<section class="advantages container" id="advantages">
    <h2>What are the benefits of using HOMS?</h2>

    <div class="accordion row" id="accordionAdvantages">
        <ol class="accordion-list">
            <li class="accordion-item" id="heading1" data-toggle="collapse" data-target="#collapse1"
                aria-expanded="true" aria-controls="collapse1">
                <div class="accordion-item__point">01</div>
            </li>
            <li class="accordion-item collapsed" id="heading2" data-toggle="collapse" data-target="#collapse2"
                aria-expanded="false" aria-controls="collapse2">
                <div class="accordion-item__point">02</div>
            </li>
            <li class="accordion-item collapsed" id="heading3" data-toggle="collapse" data-target="#collapse3"
                aria-expanded="false" aria-controls="collapse3">
                <div class="accordion-item__point">03</div>
            </li>
            <li class="accordion-item collapsed" id="heading4" data-toggle="collapse" data-target="#collapse4"
                aria-expanded="false" aria-controls="collapse4">
                <div class="accordion-item__point">04</div>
            </li>
            <li class="accordion-item collapsed" id="heading5" data-toggle="collapse" data-target="#collapse5"
                aria-expanded="false" aria-controls="collapse5">
                <div class="accordion-item__point">05</div>
            </li>
            <li class="accordion-item collapsed" id="heading6" data-toggle="collapse" data-target="#collapse6"
                aria-expanded="false" aria-controls="collapse6">
                <div class="accordion-item__point">06</div>
            </li>
            <li class="accordion-item collapsed" id="heading7" data-toggle="collapse" data-target="#collapse7"
                aria-expanded="false" aria-controls="collapse7">
                <div class="accordion-item__point">07</div>
            </li>
        </ol>
        <div class="accordion-content col-11">
            <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionAdvantages">
                <div class="accordion-content__body">
                    <h3 class="accordion-content__title">HOMS allows you to make considerable savings.</h3>
                    Hotel management accounting is usually maintained in Excel. The main disadvantage of this is the
                    cash costs for specialists transferring the data from the accounting system in Excel. With the
                    implementation of HOMS, there will be immediate cost savings on at least one manual data transfer
                    specialist. Consequently, the hotel will save more than ten thousand dollars a year!
                </div>
            </div>
            <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionAdvantages">
                <div class="accordion-content__body">
                    <h3 class="accordion-content__title">HOMS saves both money and your precious time</h3>
                    Very often we hear from financial officers in charge of management accounting complaining that time
                    is the issue when it comes to further data analysis! With HOMS, your time savings will be the whole
                    two weeks of manual work with data within a month or 504 additional man-hours per year.
                </div>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionAdvantages">
                <div class="accordion-content__body">
                    <h3 class="accordion-content__title">HOMS puts data in order</h3>
                    The significant advantage of using HOMS is a monthly automatic report generation. It is called
                    Databook. This is a 16-page document on all aspects of the hotel operation. If the predefined report
                    set does not suit your needs, a customized report generator is built into HOMS. Now you can always
                    create your own report!
                </div>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionAdvantages">
                <div class="accordion-content__body">
                    <h3 class="accordion-content__title">HOMS sorts out the routine</h3>
                    Everything that has to be counted, will be done for you by HOMS in no time! The system will
                    calculate the dynamics of income and expenses broken down into plan-fact-deviation from last year
                    figures, both for a specific month, and cumulatively for any period from the beginning of the year.
                    The program’s user task is read into the analysis.
                </div>
            </div>
            <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionAdvantages">
                <div class="accordion-content__body">
                    <h3 class="accordion-content__title">HOMS helps in data analysis</h3>
                    A high level of data break-down will allow to clearly identify problem points and focus on specific
                    actions to eliminate negative deviations.
                </div>
            </div>
            <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionAdvantages">
                <div class="accordion-content__body">
                    <h3 class="accordion-content__title">HOMS can visualize</h3>
                    With the aim to prepare reports to the top management and shareholders, we have built in a data
                    visualization mechanism. HOMS Dashboard will help to visually convey the hotel’s key performance
                    results!
                </div>
            </div>
            <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionAdvantages">
                <div class="accordion-content__body">
                    <h3 class="accordion-content__title">HOMS boosts competitiveness</h3>
                    Thanks to HOMS, you close the reporting month on the 5th day of the following month. In practice,
                    this means that you obtain the same variety of information at the same time as the international
                    hotel chains operating in your city.
                </div>
            </div>
        </div>
    </div>

    <div class="advantages-calculation row collapse show" id="advantagesCalculation1">
        <div class="col-lg-6">
            <div class="advantages-calculation__title">
                Approximate calculation of direct savings<br>
                for a 3-star hotel
            </div>

            <ul class="calculation-list">
                <li class="calculation-list__item row">
                    <div class="calculation-list__label col-md-9 col-8">
                        The number of specialists involved in manual operations
                    </div>
                    <div class="calculation-list__option col-md-3 col-4">1</div>
                </li>
                <li class="calculation-list__item row">
                    <div class="calculation-list__label col-md-9 col-8">Payroll per month</div>
                    <div class="calculation-list__option col-md-3 col-4">$835</div>
                </li>
                <li class="calculation-list__item row">
                    <div class="calculation-list__label col-md-9 col-8">Number of month</div>
                    <div class="calculation-list__option col-md-3 col-4">12</div>
                </li>
            </ul>

            <div class="calculation-total row">
                <div class="col-8">TOTAL:</div>
                <div class="col-4">
                    <div class="calculation-total__cost">
                        $10 021
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="calculation-compare">
                <div>
                    <div class="calculation-compare__text">saving over</div>
                    <div class="calculation-compare__total">
                        <span>$10 021</span>
                        <span class="calculation-compare__text">per year!</span>
                    </div>
                </div>

                <span class="spin"></span>
            </div>
        </div>
    </div>

    <div class="advantages-calculation col-12 row collapse" id="advantagesCalculation2">
        <div class="col-lg-6">
            <div class="advantages-calculation__title">
                The calculation of the annual savings in man-hours
            </div>

            <ul class="calculation-list">
                <li class="calculation-list__item row">
                    <div class="calculation-list__label col-md-9 col-8">
                        The number of specialists involved in manual operations
                    </div>
                    <div class="calculation-list__option col-md-3 col-4">1</div>
                </li>
                <li class="calculation-list__item row">
                    <div class="calculation-list__label col-md-9 col-8">
                        The approximate number of man-hours to manually prepare the monthly report. The report is to be
                        submitted on the 20th of each month
                    </div>
                    <div class="calculation-list__option col-md-3 col-4">42</div>
                </li>
                <li class="calculation-list__item row">
                    <div class="calculation-list__label col-md-9 col-8">Number of months</div>
                    <div class="calculation-list__option col-md-3 col-4">12</div>
                </li>
            </ul>

            <div class="calculation-total row">
                <div class="col-8">TOTAL:</div>
                <div class="col-4">
                    <div class="calculation-total__cost">
                        504
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="calculation-compare">
                <div>
                    <div class="calculation-compare__text">Get</div>
                    <div class="calculation-compare__total">
                        <span>504</span>
                        <span class="calculation-compare__text">
                            additional man-hours<br> per year to in-depth<br> analysis
                            man-hours per year!
                        </span>
                    </div>
                </div>

                <span class="spin"></span>
            </div>
        </div>
    </div>
</section>

<section class="compare container" id="compare">
    <h2 class="compare-title">Implementation Options</h2>

    <div class="compare-head">
        <div class="compare-label"> </div>
        <div class="compare-cell">HOMS Standard</div>
        <div class="compare-cell">HOMS Extended</div>
        <div class="compare-cell">HOMS Network</div>
    </div>
    <ul class="compare-table">
        <li class="compare-row">
            <div class="compare-label">Integration with PMS-system, restaurant system, accounting system</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">Preset Reports (Databook)</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">Custom Report Designer</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">Uploading budget indicators from Excel</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">Support for unlimited budget versions</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">Uploading the final reports into Excel, pdf</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">Data Visualization (Dashboard)</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">English version</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">
                The ability to maintain records for both the calendar year and the fiscal year
            </div>
            <div class="compare-cell">-</div>
            <div class="compare-cell">+</div>
            <div class="compare-cell">+</div>
        </li>
        <li class="compare-row">
            <div class="compare-label">Hotel Group Consolidation</div>
            <div class="compare-cell">-</div>
            <div class="compare-cell">-</div>
            <div class="compare-cell">+</div>
        </li>
    </ul>
</section>

<section class="use-cases container" id="use-cases">
    <h2 class="use-cases-title col-lg-6">User cases</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="use-cases-column">
                <h3 class="use-cases-column__title">
                    <svg class="use-cases-column__title-icon">
                        <use xlink:href="/img/icons.svg#hotel"></use>
                    </svg>
                    <span>For individual hotels</span>
                </h3>

                <ul class="check-list">
                    <li class="check-list__item">
                        When you need to automate management accounting
                    </li>
                    <li class="check-list__item">
                        When you need to find time for a in-depth analysis of deviations and break-even point
                    </li>
                    <li class="check-list__item">
                        When you are tired of reconciling tables in Excel
                    </li>
                    <li class="check-list__item">
                        When you want to clearly and easily motivate the heads of revenue departments
                    </li>
                    <li class="check-list__item">
                        When an international hotel chain competitor settled in your city
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="use-cases-column">
                <h3 class="use-cases-column__title">
                    <svg class="use-cases-column__title-icon">
                        <use xlink:href="/img/icons.svg#operation"></use>
                    </svg>
                    <span>For hotel operators</span>
                </h3>

                <ul class="check-list">
                    <li class="check-list__item">
                        When you decided that it was time to switch to USALI
                    </li>
                    <li class="check-list__item">
                        When you need a program designed specifically for hotels
                    </li>
                    <li class="check-list__item">
                        When you need to collect data on the operation of all hotels in the network into one unit
                    </li>
                    <li class="check-list__item">
                        When you want to increase your Incentive Management Fee by reducing undistributed expenses in hotels under management
                    </li>
                    <li class="check-list__item">
                        When the fiscal and calendar year do not match
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="faq container" id="faq">
    <h2 class="faq-title col-lg-5">Frequently Asked Questions</h2>

    <div class="faq-collapse" id="faqCollapse">
        <div class="faq-card">
            <h3 id="faqHead1" class="faq-card__title" data-toggle="collapse" data-target="#faqCollapse1" aria-expanded="true" aria-controls="faqCollapse1">
                How long does the implementation of HOMS take?
            </h3>

            <div id="faqCollapse1" class="collapse show" aria-labelledby="faqHead1" data-parent="#faqCollapse">
                <div class="faq-card__body">
                    Around five to seven months. The implementation period depends on the number of programs that need
                    to be integrated with HOMS and on the number of hotels
                </div>
            </div>
        </div>

        <div class="faq-card">
            <h3 id="faqHead2" class="faq-card__title collapsed" data-toggle="collapse" data-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                Can we install HOMS ourselves?
            </h3>

            <div id="faqCollapse2" class="collapse" aria-labelledby="faqHead2" data-parent="#faqCollapse">
                <div class="faq-card__body">
                    Two different customers will have two different versions of HOMS. This is due to the fact that each
                    hotel has its own software configuration. We customize the program individually to the needs of a
                    particular customer. Therefore, HOMS is installed only by our specialists
                </div>
            </div>
        </div>

        <div class="faq-card">
            <h3 id="faqHead3" class="faq-card__title collapsed" data-toggle="collapse" data-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
                Do you have desk training on how to operate HOMS?
            </h3>

            <div id="faqCollapse3" class="collapse" aria-labelledby="faqHead3" data-parent="#faqCollapse">
                <div class="faq-card__body">
                    The implementation cost includes the required number of hours for end-user training
                </div>
            </div>
        </div>

        <div class="faq-card">
            <h3 id="faqHead4" class="faq-card__title collapsed" data-toggle="collapse" data-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
                How confidential is the data uploaded to HOMS?
            </h3>

            <div id="faqCollapse4" class="collapse" aria-labelledby="faqHead4" data-parent="#faqCollapse">
                <div class="faq-card__body">
                    HOMS is installed on the customer’s server. The program does not exchange data externally.
                </div>
            </div>
        </div>

        <div class="faq-card">
            <h3 id="faqHead5" class="faq-card__title collapsed" data-toggle="collapse" data-target="#faqCollapse5" aria-expanded="false" aria-controls="faqCollapse5">
                What is included in the cost of implementation?
            </h3>

            <div id="faqCollapse5" class="collapse" aria-labelledby="faqHead5" data-parent="#faqCollapse">
                <div class="faq-card__body">
                    Our standard approach is charging a fixed fee for the implementation of HOMS. It includes the
                    analysis of the customer’s running IT systems, the deployment of HOMS, the creation of an early
                    period-closing system for the month, with training in how to manage the software. You do not need to
                    worry that the payment is time-based. Our agreed, predictable, fixed payments mean that you can
                    accurately calculate the implementation cost of our program
                </div>
            </div>
        </div>
    </div>
</section>

@@include('../includes/footer.html')