// import Swiper and modules styles
@import '../../node_modules/swiper/swiper-bundle.min';
@import '../../node_modules/@fancyapps/ui/dist/fancybox/fancybox';

@import 'tools/variables';
@import 'tools/mixin';
@import 'tools/media';
@import 'tools/keyframes';

@import 'base/fonts';
@import 'base/reboot';
@import 'base/typography';
@import 'base';
@import 'base/btn';
@import 'base/utilities';

@import 'components/navbar';
@import 'components/header';
@import 'components/section';
@import 'components/difficulties';
@import 'components/issues';
@import 'components/solution';
@import 'components/integration';
@import 'components/reports';
@import 'components/created';
@import 'components/main-video';

#root {
  padding-top: 90px;
  overflow-x: hidden;
  overflow-y: auto;
}
