@keyframes circlesInCircles {
  0% {
    box-shadow: 0 0 0 10px rgba($primary, 0.5), 0 0 0 0 rgba($primary, 0.5)
  }
  50% {
    box-shadow: 0 0 0 20px rgba($primary, 0), 0 0 0 20px rgba($primary, 0.5)
  }
  50.0001% {
    box-shadow: 0 0 0 0 rgba($primary, 0.5), 0 0 0 20px rgba($primary, 0.5)
  }
  100% {
    box-shadow: 0 0 0 10px rgba($primary, 0.5), 0 0 0 40px rgba($primary, 0)
  }
}
