$white: #fff;
$black: #000;
$gray: #D2D2D2;
$primary: #2462BC;

$colors: (
  'white': $white,
  'black': $black,
  'gray': $gray,
  'primary': $primary,
);

// font-variables
$font-family-tinos: Tinos, -apple-system, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif: 'SourceSansPro', -apple-system, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: sfmono-regular, menlo, monaco, consolas, monospace;
