$white: #fff;
$black: #000;
$gray900: #909090;
$gray500: #E4E4E4;
$gray: #D2D2D2;
$blue: #114376;
$darkBlue: #042C54;
$navyBlue: #001E3C;

$colors: (
  'white': $white,
  'black': $black,
  'gray900': $gray900,
  'gray500': $gray500,
  'gray': $gray,
  'blue': $blue,
  'darkBlue': $darkBlue,
  'navyBlue': $navyBlue,
);

// font-variables
$font-family-lora: lora, -apple-system, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif: 'SourceSansPro', -apple-system, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: sfmono-regular, menlo, monaco, consolas, monospace;
